
body, div, ul, ol, li, img, button, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bg {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background: black; }

.bg-center {
  width: 100%;
  height: 981px;
  background: url("../img/bg.jpg") top center no-repeat; }

.bg-fixed {
  width: auto;
  height: 335px;
  margin-top: -166px;
  position: fixed;
  left: 0;
  top: 50%; }

.bg-load {
  width: 179px;
  height: 335px;
  margin-top: -166px;
  padding: 10px 10px 0 0;
  position: fixed;
  left: 0;
  top: 50%;
  text-align: center;
  background: url(../img/bg_download.png) no-repeat; }

.btn-app, .btn-android {
  width: 152px;
  height: 52px;
  margin-bottom: 6px;
  display: inline-block; }

.btn-app {
  margin-top: 10px;
  background: url(../img/btn_ios.png) no-repeat; }

.btn-android {
  background: url(../img/btn_android.png) no-repeat; }

.code {
  width: 152px;
  height: 151px;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }

.code > img {
  width: 100%; }

.line {
  width: 136px;
  height: 2px;
  background: #fff;
  box-shadow: #c01f1f 0 0 6px, #c01f1f 0 0 7px, #c01f1f 0 0 8px, #c01f1f 0 0 9px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: moveline 3s  linear infinite alternate; }

@keyframes moveline {
  0% {
    top: 0; }
  100% {
    top: 151px; } }
@-webkit-keyframes moveline {
  0% {
    top: 0; }
  100% {
    top: 151px; } }
.hidden {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: -18px;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: rotate(45deg); }

.show {
  width: 93px;
  height: 92px;
  margin-top: -46px;
  position: fixed;
  top: 50%;
  left: 0;
  background: url(../img/btn_tag.png) no-repeat;
  display: none; }

.enter-home {
  width: 181px;
  height: 61px;
  background: url(../img/btn_home.png) 0 0 no-repeat;
  position: absolute;
  top: 60px;
  right: 90px;
  display: block;
  overflow: hidden;
  z-index: 1; }

.enter-home:hover {
  background-position: 0 -65px; }

.home-box:hover .enter-home {
  top: -65px; }

.warring {
  width: 100%;
  height: 102px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  font-family: "宋体", sans-serif;
  color: #b5b5b5;
  background-color: #434343; }
  .warring a {
    color: #b5b5b5; }

.info {
  width: 100%;
  height: 178px;
  padding: 40px 30px;
  border: 1px solid #505050;
  background-color: #2b2b2b;
  box-sizing: border-box; }

.logo {
  height: 96px;
  line-height: 90px;
  float: left; }
  .logo img {
    width: 410px;
    vertical-align: center;
    margin-right: 10px;
    border: 0;
    display: inline-block; }

.info-list {
  float: right;
  padding-left: 30px;
  border-left: 1px solid #434343;
  color: #959595;
  font-size: 12px;
  font-family: "宋体",sans-serif;
  position: relative; }
  .info-list li {
    list-style: none;
    line-height: 24px; }
  .info-list a {
    text-decoration: none;
    color: inherit;
    text-align: center; }

.pic {
  width: 32px;
  position: absolute;
  left: 242px;
  bottom: 8px;
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
