.w135 {
  width: 135px; }

.w795 {
  width: 795px; }

.banner {
  margin-top: 70px; }

.banner .carousel-indicators li.active {
  background-color: #ff6900; }

.banner .carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.6);
  border: 0; }

.banner .glyphicon {
  font-size: 36px;
  display: none;
  font-weight: normal; }

.banner:hover .glyphicon {
  display: inline-block; }

.header-title, .type-item {
  color: #b9c0ef;
  margin: 32px 0; }

.more-info {
  margin: 32px 10px 0 0;
  font-size: 12px;
  color: #7a80a2; }

.fa-plus-square {
  margin-left: 5px; }

.poster {
  margin-top: 30px; }

.poster .poster-item {
  width: 590px;
  height: 280px;
  border-radius: 5px; }

.poster .poster-img {
  max-width: 100%;
  height: auto; }

.poster .poster-bar {
  line-height: 60px;
  height: 60px;
  text-align: center;
  color: #B9C0EF;
  background-color: #33394D; }

.poster .poster-bar, .coupons .name, .coupons .price-sub, p.card-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #7a80a2; }

.coupons {
  height: 276px; }

.coupons .item {
  width: 183px;
  height: 180px;
  margin-left: 20px;
  padding: 0 10px;
  border-top: 5px solid #B9C0EF;
  border-radius: 5px;
  color: #B9C0EF;
  background-color: #33394D;
  float: left;
  position: relative; }

.coupons .item:first-child {
  margin-left: 0; }

.coupons .item-body {
  width: 100%;
  border-radius: 5px 5px 0 0; }

.coupons .item-footer {
  padding: 12px 0;
  text-align: center;
  font-size: 12px;
  border-top: 1px dashed #7a80a2; }

.coupons .price {
  font-size: 50px; }

.coupons .price-sup {
  font-size: 14px;
  top: -2em; }

.coupons .price-sub {
  font-size: 14px;
  display: inline; }

.coupons .name {
  height: 40px;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 12px; }

.coupons .coupons-right {
  width: 360px; }

.coupons .view {
  width: 360px;
  height: 180px;
  position: relative; }

.coupons .view .text {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #b9c0ef;
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: block; }

.coupons .view img {
  width: 100%;
  height: 100%; }

.card-item {
  width: 224px;
  height: 222px;
  border-radius: 5px;
  background-color: #33394d;
  margin-right: 20px;
  float: left;
  position: relative; }

.card-item:last-child {
  margin-right: 0; }

.card-item:hover .card-price {
  color: white;
  background-color: #ff6900; }

.card-img {
  max-width: 100%;
  height: 132px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.card-info {
  height: 90px;
  padding: 10px; }

.card-price {
  width: 70px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #ff6900;
  border: 1px solid #ff6900;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block; }

.card-name {
  font-size: 12px; }

.big-card {
  width: 386px;
  height: auto;
  float: left;
  margin-right: 20px;
  position: relative;
  background-color: #33394D; }

.big-card:last-child {
  margin-right: 0; }

.big-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.big-card .big-card-title {
  width: 100%;
  padding: 10px 0;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #b9c0ef;
  background: rgba(51, 57, 77, 0.9);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; }

.h310 {
  height: 310px; }

.h180 {
  height: 180px;
  overflow: hidden; }

.produce-list {
  position: relative; }

.produce-list .type-item {
  font-size: 14px;
  color: #7a80a2;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block; }

.produce-list .middle-line {
  width: 10px;
  height: 2px;
  margin: 0 10px;
  background-color: #33394d;
  display: inline-block;
  vertical-align: middle; }

.produce-list .produce-name {
  font-size: 16px;
  font-weight: bold; }

.produce-list .produce-date {
  font-size: 12px;
  display: block; }

.produce-list .produce-type {
  padding: 0 4px;
  border-radius: 2px;
  border: 1px solid #7a80a2;
  font-size: 12px;
  display: inline-block; }

.produce-list .produce-price {
  margin-right: 10px;
  font-size: 16px;
  color: #eb6100;
  font-weight: bold;
  float: right;
  height: 100px;
  line-height: 100px; }

.produce-list .produce-img > img {
  max-width: 169px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.produce-list .list-item {
  width: 100%;
  height: 100px;
  background-color: #33394D;
  border-radius: 5px;
  display: block;
  margin-bottom: 10px; }

.produce-list .middle {
  padding: 15px 10px 0;
  float: left; }

.produce-list .more {
  width: 100%; }

.produce-name, .produce-date, .produce-type {
  margin-bottom: 8px;
  color: #7a80a2; }

.list-content {
  display: none; }

.list-content.active {
  display: block; }

.rank-block {
  width: 375px;
  display: none; }

.rank-block:first-child {
  display: block; }

.rank-block .item {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  background-color: #33394D;
  display: block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.rank-block .img-wrap {
  width: 135px; }

.rank-block .img-wrap > img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.rank-block .rank {
  width: 32px;
  height: 32px;
  margin: 26px 10px 0 0;
  line-height: 32px;
  float: right;
  color: white;
  border-radius: 50%;
  text-align: center;
  background-color: #ff6900; }

.recommend-info {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/bg.png); }

.comment {
  text-align: center; }
  .comment .avatar-wrap {
    width: 100%;
    padding: 30px 0 10px;
    display: inline-block; }
    .comment .avatar-wrap img.avatar {
      margin-top: 40px;
      width: 80px;
      height: 80px;
      border-radius: 50%; }
  .comment .nickname {
    width: 100%;
    color: #b9c0ef;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block; }
  .comment .desc {
    margin-top: 10px; }
  .comment .title {
    font-size: 14px;
    font-weight: bold;
    color: #b9c0ef; }
  .comment .summary {
    color: #7a80a2; }

.hot {
  text-align: center;
  padding: 20px 10px; }
  .hot .title {
    max-width: 100%;
    color: white;
    font-weight: bold;
    font-size: 22px;
    display: block; }
  .hot .avatar {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    border-radius: 50%;
    display: inline-block;
    background: url(../img/default.png) no-repeat; }
  .hot .desc {
    margin-top: 10px;
    color: #7a80a2; }
  .hot .detail {
    max-width: 100%;
    color: #b9c0ef; }
  .hot .detail-item {
    width: 50%;
    font-weight: bold;
    text-align: center;
    float: left; }
  .hot .img-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%; }
    .hot .img-wrap img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.plate {
  margin-bottom: 20px; }

.plate .title {
  font-size: 18px;
  margin: 32px 0;
  color: #b9c0ef; }

.plate .more-plate {
  margin: 32px 20px;
  color: #7a80a2; }

.plate .plate-list {
  width: 100%;
  height: 192px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.plate .plate-item {
  width: 184px;
  height: 76px;
  line-height: 76px;
  border-radius: 3px;
  background-color: #33394d; }

.plate .plate-item img {
  max-width: 100%; }

/*# sourceMappingURL=index.css.map */

/*# sourceMappingURL=index.css.map */
